<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Release It</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Release It</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
			    <li class="nav-item">
			        <a class="nav-link" href="/">Home</a>
			    </li>
			    <li class="nav-item">
			        <a class="nav-link" href="/viewentries">View Entries</a>
			    </li>

			    <li class="nav-item">
			        <a class="nav-link" href="/about">About</a>
			    </li>
			</ul>
        </div>
    </div>
</nav>

<div class="container mt-5">

    <h2>Welcome to Release it. Your Personal Digital Journal</h2>
    <p>Release It is a safe space where you can express whatever is on your mind. Whether you choose to share your thoughts with others who may relate or keep them private to reflect on later, this is your place to be honest, heal, and grow. We're here to help you let it all go, one entry at a time..</p>

</div>


